@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: rgb(106, 102, 170);
  background: linear-gradient(
    127deg,
    rgba(106, 102, 170, 1) 0%,
    rgba(156, 121, 121, 0.99) 40%,
    rgb(107, 15, 15) 100%
  );
}

.page {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 1.5fr 1fr 1fr 4rem;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
  /*grid-template-areas:
          "navbar navbar navbar navbar"
          "sidebar main main main"
          "sidebar section1 section2 section3"
          "sidebar section4 section4 section4"
          "footer footer footer footer";*/
  padding: 5px 5px 1px;
  gap: 10px;
  height: 100vh;
  animation: fadein 1s ease-in-out;
}

nav,
main,
#sidebar,
#section1,
#section2,
#section3,
#section4,
footer {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: color;
}
nav:hover,
main:hover,
#sidebar:hover,
#section1:hover,
#section2:hover,
#section3:hover,
#section4:hover,
footer:hover {
  transform: scale(1.005);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

nav {
  margin-top: 4px;
  margin-bottom: 2px;
  width: 100%;
  grid-area: navbar;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}
tr {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 5px;
  padding-top: 5px;
}
.btn {
  color: #161612;
  border: #161612 1px solid;
  background-color: inherit;
  padding: 7px 14px;
  margin: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  transition: all 1000ms ease;
  text-decoration: none;
}
#maintable {
  max-height: 800px;
  overflow: scroll;
  white-space: pre-line;
  overflow-inline: auto;
  grid-area: main;
  font-size: 16px;
  padding: 15px;
  font-weight: lighter;
  background: #ffffff;
}
.fixedElement {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#table-limiter {
  max-height: 800px;
  margin-left: 20px;
}
table {
  width: 100%;
  height: 100%;
}
main {
  white-space: pre-line;
  overflow-inline: auto;
  grid-area: main;
  font-size: 30px;
  padding: 20px;
  font-weight: bolder;
  background: white;
}
#sidebar {
  grid-area: sidebar;
  padding: 10px;
  font-size: 25px;
  font-weight: bolder;
  background: grey;
}
#section1 {
  grid-area: section1;
  padding: 20px;

  font-size: 30px;
  font-weight: bolder;
  background: lightblue;
}
#section2 {
  grid-area: section2;
  padding: 20px;

  font-size: 30px;
  font-weight: bolder;
  background: lightgreen;
}
#section3 {
  grid-area: section3;
  padding: 20px;

  font-size: 30px;
  font-weight: bolder;
  background: lightpink;
}
#section4 {
  grid-area: section4;
  padding: 20px;

  font-size: 30px;
  font-weight: bolder;
  background: lightyellow;
}

.footerdiv {
  position: relative;
  margin-bottom: 10px;
  grid-area: footer;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  background: lightgrey;
  color: var(--yazirengi);
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;

    grid-template-areas:
      "navbar"
      "sidebar"
      "main"
      "footer";
  }
}
