@import "yazitipi.css";
@import "temalar/light_mode_tema.css";
@import "temalar/dark_mode_tema.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Tüm nesnelerin konumlarını ayarlama sistemi
 */

*,
*::before,
*::after {
    transition: color 10ms,
    background-color 300ms;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    min-height: 100vh;
    min-width: 100vh;
}

.kapsayici {
    display: grid;
    grid-template-columns: 12rem 0.5fr 1fr 1fr;
    grid-template-rows: 4.5rem 1.5fr 1fr 1fr 4rem;
    grid-template-areas:
    "navbar navbar navbar navbar"
    "middle middle middle middle"
    "middle middle middle middle"
    "middle middle middle middle"
    "footer footer footer footer";
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color: var(--arkaplan);
    color: var(--yazirengi);
    max-width: 100%;
    overflow: initial;
    overflow-wrap: break-word;
    padding: 5px 5px 1px;
    gap: 10px;
    animation: fadein 1s ease-in-out;
}

/*#app div {*/
/*    min-height: 100vh;*/
/*    background-color: var(--arkaplan);*/
/*    color: var(--yazirengi);*/
/*}*/
hr {
    margin-top: 12px;
    background-color: var(--yazirengi);
}

#kisi {
    /*background: #bdbdbd;*/
    color: var(--yazirengi);
}
button {
    transition: all 300ms ease-out;
}

.nav_comp {
    z-index: 0;
    background: var(--nav_arkaplan);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 2px;
    margin-bottom: 2px;
    min-width: 100%;
    max-width: 100%;
    grid-area: navbar;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    min-height: fit-content;

}

.routes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}


.nav_comp,
.main_comp,
.home_comp,
.sidebar_comp,
.sidebar_test,
.footer_comp {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}

.nav_comp:hover,
.main_comp:hover,
.home_comp:hover,
.sidebar_comp:hover,
.sidebar_test:hover,
.footer_comp:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

tr {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn {
    color: var(--yazirengi);
    border: #161612 1px solid;
    background-color: var(--menu_arkaplan);
    padding: 7px 14px;
    margin: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--btn_arkaplan);
    color: var(--yazirengi);
}

.main_comp::-webkit-scrollbar {
    display: none;
}

.home_comp::-webkit-scrollbar {
    display: none;
}

.main_comp {
    grid-area: content;
    /*min-height: 100vh; !*To make main_comp grow forever*!*/
    min-height: 100vh;
    /*max-height: min-content;*/
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    white-space: pre-line;
    overflow-inline: auto;
    flex-basis: 100vw;
    font-size: 16px;
    padding: 15px;
    min-width: inherit;
    font-weight: lighter;
    color: var(--yazirengi);
    background: var(--menu_arkaplan);
}

.home_comp {
    margin:5px !important;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    grid-area: content;
    min-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: pre-line;
    overflow-inline: auto;
    flex-basis: 100vw;
    font-size: 16px;
    padding: 15px;
    min-width: inherit;
    font-weight: lighter;
    color: var(--yazirengi);
    background: var(--menu_arkaplan);
}

.fixedElement {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

#table-limiter {
    margin-left: 20px;
}

table {
    width: 100%;
    /*min-height: 100vh;*/
}

main {
    white-space: pre-line;
    overflow-inline: auto;

    font-size: 30px;

    font-weight: bolder;
    background: var(--arkaplan);
}

#sidebar_content {
    display: block;
    flex-direction: column;
    overflow-wrap: break-word;
    font-size: 14px;
    text-align: left;
    margin-left: 4px;
}

.sidebar_comp {
    align-content: flex-start;
    justify-items: flex-start;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    max-width: min-content;
    margin-left: 2px;

    height: auto;
    flex-basis: 35px;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    background: grey;
    min-height: 100vh;
}

.sidebar_test {
    width: initial;
    margin-left: 2px;
    height: auto;
    flex-basis: 35px;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    background: grey;
    min-height: 100vh;
}

.footer_comp {
    z-index: 100;
    position: relative;
    margin-bottom: 10px;
    grid-area: footer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    background: var(--menu_arkaplan);
    color: var(--yazirengi);
}
.middle-custom {

    margin: auto !important;
    gap: 10px;
    grid-area: middle;
    display: flex;
    flex-direction: row;

}


.middle {

    padding: 10px;
    margin: -10px;
    height: fit-content;
    gap: 10px;
    grid-area: middle;
    display: flex;
    flex-direction: row;

}

.label-area {
    width: 15%;
}

.input-area {
    width: 85%;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-sil {
    background-color: #815353;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .kapsayici {
        min-width: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
      "navbar"
      "middle"
      "middle"
      "footer";
    }

    .middle {
        flex-direction: column;
    }

    .routes {
        flex-direction: row;
        justify-content: left;
    }

    .nav_comp {
        flex-direction: column;
        align-content: flex-start;
        justify-items: flex-start;

    }
}